
*{
    font-family: sans-serif;
}
.nav-logo{
    height: 35px;
}
.active-tab{
     color: rgba(0, 138, 140, 1);
    background-color: rgba(0, 138, 140, 0.08);
}
.profile-pic{
    width: 50px;
}
.nav-content{
    height: 50px;
}
.bg-bluish{
    background-color: rgba(0, 56, 57, 1);
}
.txt-lblue{
    color: rgba(144, 253, 255, 1);
}
.pb-custom-1{
    background: linear-gradient(135deg, #FFD666 0%, #FFAB00 100%);
}
.pb-custom-2{
    background: linear-gradient(135deg, #FFAC82 0%, #FF5630 100%);
}
.pb-custom-3{
    background: linear-gradient(135deg, #77ED8B 0%, #22C55E 100%);

}
.pb-h-8{
    height: 8px;
}
.small-div{
    width: 20px;
    height: 20px;
    border-radius: 6px;
}
.green{
    background-color: rgba(0, 138, 140, 1);
}
.grey{
    background-color: rgba(145, 158, 171, 0.16);
}
.ms-8{
    margin-right: 8px;
}
.circle-div{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.dark-green{
    background-color: rgba(0, 119, 121, 1);
}
.orange{
     background-color:rgba(255, 86, 48, 1);
}
.fs-18{
    font-size: 18px;
}
.fs-14{
    font-size: 14px;
}
.fs-12{
    font-size: 12px;
}
.heading-color{
    background-color: rgba(244, 246, 248, 1);
}
.position-t-25{
    top: 25px;
}
.border-top-dashed{
    border-top: 1px dashed rgba(145, 158, 171, 0.2);
}